.mat-form-field-wrapper ng-tns-c139-0{
    padding-bottom: 0px;
}

.d-flex{
    margin-top: 20px;
}

td{
    text-align: center !important;
  }

.filter{
    margin-bottom: 40px; 
}

.mat-header-cell {
    font-weight: bold;
    font-size: 0.95em;
    color:#009161 ;
}

mat-cell {
    justify-content: center !important;
}


.export-table-text{
    font-weight: bold;
    font-size: 0.95em;
    color:#009161 ;
}

.filter-button{
    margin-bottom: 15px; 
}


.mat-form-field-wrapper{
    padding-bottom: 0px;
}


