<div class="content-wrapper">      
    <div class="row">
        <div class="col-md-12 grid-margin">
          <div class="row">
              <h2 class="font-weight-bold">Intermédiaire  en bourse </h2>
          </div>
        </div>
    </div>

    <form class="form-sample" #monform="ngForm" (submit)="onSubmit(monform)">
        <div class="row">
            <div class="form-group">
            <label>Libellé de l'intermédiaire  financière</label>
            <input type="text" class="form-control form-control-lg" placeholder="Libelle intermédiaire en bourse" #lib="ngModel"
                [(ngModel)]="intBService.fromData.inB_libelle" name="lib" required />
            <div class="error-msg" *ngIf="(lib.touched || monform.submitted) && lib.errors?.required">
                Le champs libélle est obligatoire!
            </div>
            </div>
        </div>
    
    <div class="mt-3">
        <button class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" type="submit"
              [disabled]="monform.invalid">Confirmer</button>
    </div>
          
    </form>
    <div class="mt-3">
        <button type="button" class="btn btn-outline-secondary btn-lg btn-block" (click)="closeDialog(monform)" >Retour</button>
    </div>



</div>
