<app-header></app-header>
<div class="container-scroller">
  <div class="container-fluid page-body-wrapper">
    <app-navbar-placement></app-navbar-placement>
    <div class="main-panel">
      <div class="content-wrapper">
      <div class="row">
        <div class="col-md-12 grid-margin">
          <div class="row">
            <div class="col-12 col-xl-8 mb-4 mb-xl-0">
              <h2 class="font-weight-bold">Tableau de bord des placements</h2>
            </div>
            <div class="col-12 col-xl-4">
             <div class="justify-content-end d-flex">
              <div class="dropdown flex-md-grow-1 flex-xl-grow-0">
                <button type="button" class="btn btn-outline-secondary btn-sm">              
                  <i class="bi bi-bar-chart-fill"></i>
                  Statistiques
                </button>
              </div>
             </div>
            </div>
          </div>
        </div>
      </div>

        <div class="row">
          <div class="col-md-6 grid-margin transparent">
            <div class="row">
              <div class="col-md-12 mb-4 stretch-card transparent">
                <div class="card card-tale">
                  <div class="card-body" (click)="changeViewCard('')">
                    <p class="mb-4">Total Montant Dépôt</p>
                    <p class="fs-40 mb-2">
                      {{ this.formatNumber.transform( this.montantPlacementGlobal) }} DT 
                    </p>
                    <p>
                      Total des placements :
                      <b> {{ this.nbrePlacementGlobal }} </b>
                    </p>
                    <p>
                      Taux de réalisation  {{  this.formatNumber.transform(this.tauxRealisationMontantDepot) }} % 
                    </p>
                      <div class="progress progress-md mx-4">
                        <div [class]="progressBar(this.tauxRealisationMontantDepot).progStyle" role="progressbar" [style.width.%]="progressBar(this.tauxRealisationMontantDepot).progPourcentage" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>  
                  </div>
                </div>
              </div>                 
            </div>

            <div class="row">
              <div class="col-md-6 mb-4 mb-lg-0 stretch-card transparent">
                <div class="card card-light-danger">
                  <div
                    class="card-body"
                    (click)="changeViewCard('PlacementFinancierView')">
                    <a class="carousel-control-next" role="button"data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only"></span>
                    </a>

                    <p class="mb-4">
                      Total Montant : <b>{{ listTypePlacementLibelle[0] }}</b>

                    </p>
                    <p class="fs-40 mb-2">
                      {{ this.formatNumber.transform( montantPlacementByType[0])}} DT
                    </p>
                    <p>
                      Total des placements :
                      <b> {{ nbrePlacementByType[0] }}</b>
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 stretch-card transparent">
                <div class="card card-light-blue">
                  <div class="card-body" (click)="changeViewCard('PlacementImmobilierView')">
                    
                    <a class="carousel-control-next" role="button"data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only"></span>
                    </a>
                    <p class="mb-4">
                      Total Montant : <b>{{ listTypePlacementLibelle[1] }} </b>
                    </p>
                    <p class="fs-40 mb-2">
                      {{ this.formatNumber.transform(montantPlacementByType[1] ) }} DT
                    </p>
                    <p>
                      Total des placements :
                      <b>{{ nbrePlacementByType[1] }} </b>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--Profit ppc jour / ppc fin année comptable / ppc fin trimestre comptable-->
          <div class="col-md-6 grid-margin transparent">
            <div class="row">
              <div class="col-md-12 mb-4 stretch-card transparent">
                <div class="card card-table2">
                  <div class="card-body" (click)="changeViewCard('')">
                    <p class="mb-4">
                      Total rémunération des placements financiers le: <b> {{ getTodayDate() | date: "dd/MM/yyyy" }}</b>
                    </p>
                    <p class="fs-40 mb-2">
                      {{
                        this.formatNumber.transform(this.varTotalRemunerationDateDuJour )
                      }}
                      DT
                    </p>
                    <p>
                      Taux de réalisation  {{  this.formatNumber.transform(this.tauxRealisationMontantProfitDateJour) }} % 
                    </p>

                    <div class="progress progress-md mx-4">
                      <div [class]="progressBar(this.tauxRealisationMontantProfitDateJour).progStyle" role="progressbar" [style.width.%]="progressBar(this.tauxRealisationMontantProfitDateJour).progPourcentage" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>  

                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 mb-4 mb-lg-0 stretch-card transparent">
                <div class="card card-light-danger">
                  <div class="card-body">
                    <p class="mb-4">
                      Total rémunération des placements financiers à la fin du
                      prochain <b>trimestre comptable</b>.
                    </p>
                    <p class="fs-40 mb-2">
                      {{ this.formatNumber.transform(this.varTotalRemunerationTrimestre ) }}
                      DT
                    </p>
                    <p>
                      Taux de réalisation  {{  this.formatNumber.transform(this.tauxRealisationMontantProfitTrimestre) }} % 
                    </p>

                    <div class="progress progress-md mx-4">
                      <div [class]="progressBar(this.tauxRealisationMontantProfitTrimestre).progStyle" role="progressbar" [style.width.%]="progressBar(this.tauxRealisationMontantProfitTrimestre).progPourcentage" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>  
                    
                  </div>
                </div>
              </div>
              <div class="col-md-6 stretch-card transparent">
                <div class="card card-light-blue">
                  <div class="card-body">
                    <p class="mb-4">
                      Total rémunération des placements financiers à la fin de
                      la <b>l'année comptable</b>
                    </p>
                    <p class="fs-40 mb-2">
                      {{ this.formatNumber.transform(this.varTotalRemunerationAnnee ) }} DT
                    </p>
                    <p>
                      Taux de réalisation  {{  this.formatNumber.transform(this.tauxRealisationMontantProfitAnnee) }} % 
                    </p>
                      <div class="progress progress-md mx-4">
                        <div [class]="progressBar(this.tauxRealisationMontantProfitAnnee).progStyle" role="progressbar" [style.width.%]="progressBar(this.tauxRealisationMontantProfitAnnee).progPourcentage" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>  
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- END Profit ppc jour / ppc fin année comptable / ppc fin trimestre comptable-->
          <ng-container *ngIf="changeView == 'PlacementImmobilierView'">
            <div class="col-md-6 grid-margin transparent">
              <div class="row">
                <!--Placement Financier-->
                <ng-container *ngFor="let item of listFondsLibelle; let i = index">
                  <div class="col-md-6 mb-4 stretch-card transparent">
                    <div class="card card-light-blue">
                      <div class="card-body">
                        <p class="mb-4">
                          <b>{{ listFondsLibelle[i] }} </b>
                        </p>
                        <p class="fs-40 mb-2">
                          {{ this.formatNumber.transform(montantPlacementImmobilierByAction[i]) }} DT
                        </p>
                        <p>
                          Total des placements :
                          <b>{{ nbrePlacementImmobilierByAction[i] }} </b>
                        </p>
                      </div>
                    </div>
                  </div>
                </ng-container>
                <!-- END TEST-->
              </div>
            </div>
          </ng-container>

          <ng-container *ngIf="changeView == 'PlacementFinancierView'">
            <div class="col-md-6 grid-margin transparent">
              <div class="row">
                <!--Placement Financier-->
                <ng-container
                  *ngFor="let item of listActionLibelle; let i = index"
                >
                  <div class="col-md-6 mb-4 stretch-card transparent">
                    <div class="card card-light-danger">
                      <div class="card-body">
                        <p class="mb-4">
                          <b>{{ listActionLibelle[i] }} </b>
                        </p>
                        <p class="fs-40 mb-2">
                          {{ this.formatNumber.transform(montantPlacementByAction[i]) }} DT
                        </p>
                        <p>
                          Total des placements :
                          <b>{{ nbrePlacementByAction[i] }} </b>
                        </p>
                      </div>
                    </div>
                  </div>
                </ng-container>
                <!-- END TEST-->
              </div>
            </div>
          </ng-container>
        </div>

        <div class="row">
          <div class="col-lg-6 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <div class="chartjs-size-monitor">
                  <div class="chartjs-size-monitor-expand">
                    <div class=""></div>
                  </div>
                  <div class="chartjs-size-monitor-shrink">
                    <div class=""></div>
                  </div>
                </div>
                <p class="card-title">Montant Dépôt / Banques</p>
                <p class="font-weight-500">
                  Montant total des placements en cours par banque
                </p>
                <canvas
                  id="BarChart1"
                  width="351"
                  height="150"
                  class="chartjs-render-monitor"
                ></canvas>
              </div>
            </div>
          </div>

          <div class="col-lg-6 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <div class="chartjs-size-monitor">
                  <div class="chartjs-size-monitor-expand">
                    <div class=""></div>
                  </div>
                  <div class="chartjs-size-monitor-shrink">
                    <div class=""></div>
                  </div>
                </div>
                <p class="card-title">Taux profit moyen / Banques</p>
                <p class="font-weight-500">
                  Le taux de profit moyen des placements en cours par banque
                </p>
                <!--canvas
                  id="BarChartTaux"
                  width="351"
                  height="150"
                  class="chartjs-render-monitor"
                ></canvas-->
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3 stretch-card grid-margin">
              <div class="card">
                <div class="card-body">
                  <p class="card-title">Statistiques de {{ this.getTodayDate().getFullYear() }} </p>

                  <div class="me-5 mt-3">
                    <p class="font-weight-500">Taux de profit moyen  </p>
                    <h3 class="text-primary fs-30 font-weight-medium"> <b>
                      {{ this.formatNumber.transform(this.tauxProfitMoyen) }} %
                    </b></h3>
                  </div>

                  <div class="me-5 mt-3">
                    <p class="font-weight-500">Taux de profit moyen pondéré </p>
                    <h3 class="text-primary fs-30 font-weight-medium"><b>
                      {{ this.formatNumber.transform(this.tauxProfitPondere) }} % </b></h3>
                  </div>

                  <div class="me-5 mt-3">
                    <p class="font-weight-500">Montant dépot total placements                                                                          </p>
                    <h3 class="text-primary fs-30 font-weight-medium">
                      <b> {{ this.formatNumber.transform(this.totalMontantDepot)}} DT </b>
                    </h3>
                  </div>

                  <div class="me-5 mt-3">
                    <p class="font-weight-500">Produits total des placements  </p>
                    <h3 class="text-primary fs-30 font-weight-medium">
                      <b> {{  this.formatNumber.transform(this.totalMontantProfit) }} DT </b>
                    </h3>
                  </div>

                </div>                
              </div>
            </div>
          <div class="col-md-5 stretch-card grid-margin">
            <div class="card">
              <div class="card-body">
                <p class="card-title">Dernier taux de placement / institution financière</p>
                <div class="charts-data">
                  <div class="table-responsive">
                    <table class="table table-borderless">
                        <tr>
                          <th class="pl-0  pb-2 border-bottom">Institutions <br> Financières</th>
                          <th class="border-bottom pb-2">Dernièr Taux</th>
                          <th class="border-bottom pb-2">Date du dernièr <br>Placement</th>
                        </tr>
                      <tbody>
                        <tr *ngFor="let item of this.listDernierTauxPlacementParBanque"> 
                          <td class="pl-0">{{ item.organismeLibelle}} </td>
                          <td><p class="mb-0"><span class="font-weight-bold mr-2">{{ item.tauxProfit}}</span>%</p></td>
                          <td class="pb-2">{{ item.dateSouscription | date: "dd/MM/yyyy" }}   </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>  
              </div>          
            </div>
          </div>
        <!--Pie chart-->
        <div class="col-md-4 grid-margin row">
          <div class="card">
            <div class="card-body">
              <div class="chartjs-size-monitor">
                <div class="chartjs-size-monitor-expand">
                  <div class=""></div>
                </div>
                <div class="chartjs-size-monitor-shrink"></div>
              </div>
              <p class="card-title">Nombre de placements / Banques</p>
              <p class="font-weight-500">
                Le nombre de placements répartis entre les banques
              </p>
              <!--canvas id="PieChartCountBanque" width="400" height="100" class="chartjs-render-monitor"></canvas-->
            </div>
          </div>
        </div>

        </div>
      <br />
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>

<script>
  var ctx = document.getElementById('BarChart1').getContext('2d');
  var barChart = new Chart("BarChart1", {
    type: 'bar',
    data : {
      labels:  ['A','N'],
      datasets: [{
        data:  [1,2],
          backgroundColor: [
                    'rgba(248,155	,58, 0.5)',
                    'rgba(0,145,97, 0.5)',
                    'rgba(255, 206, 86, 0.5)',
                    'rgba(102, 76, 85,0.5)',
                    'rgba(153, 102, 255, 0.5)',
                    'rgba(255, 159, 64, 0.5)'
                ],
                borderColor: [
                  'rgba(248,155	,58, 1)',
                  'rgba(0,145,97, 1)',
                  'rgba(255, 206, 86, 1)',
                  'rgba(102, 76, 85,1)',
                  'rgba(153, 102, 255, 1)',
                  'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
              }]
          },
          options: {
            plugins: {
              legend: {
                display: false
              }
            }
          }

  })



</script>
